<div id="footer" class="section">
            	<div class="footercol">
           	    <img style="padding:12px 0 0 45px;" src="images/logo_s.png" width="77" height="22" /></div>
              <div class="footercol">
               	<h5 class="fancy">Masmet for Me</h5>
                 <ul>
               		  <li><a href="#">Features</a></li>
                   		<li><a href="#">Customer Acquisition</a></li>
                   		<li><a href="#">Trades</a></li>
                   		<li><a href="#">Security</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Merchant Support</a></li>
                        <li><a href="#">Compare</a></li>
                 </ul>
                </div>
                <div class="footercol">
                	<h5 class="fancy">Support</h5>
                    <ul>
               		  <li><a href="#">Support</a></li>
                   		<li><a href="#">FAQs</a></li>
                   		<li><a href="#">Contact Us</a></li>
                   		
                 	</ul>
                 	<h5 class="fancy">Merchant Login</h5>
                    <ul>
               		  <li><a href="#">Login</a> | <a href="#">Sign Up</a></li>
                   	
                 </ul>
                </div>
                <div class="footercol">
                	<h5 class="fancy">What is Masmet</h5>
                    <p>Masmet is trial Application just for me</p>
                  
                </div>
                
            </div><!-- footer end -->